body{
  margin: auto;
  text-align: center;
  background-color: aliceblue;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
  margin: 50px;
  padding: 40px 60px;
  font-size: 30pt;
  border-radius: 100px;
  background-color: antiquewhite;
}

#clock{
  font-size: 50pt;
  text-transform: uppercase;
}

#date{
  font-size: 40pt;
}